/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

header,
footer,
section {
  border: 1px solid black;
  height: 100px;
}
section {
  float: left;
  width: 100%;
}
section + section {
  width: 40%;
}
section + section + section {
  width: 60%;
}
footer {
  clear: left;
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
